doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title='Electrovlad\'s Blog' + title
    link(rel='icon' type='image/png' href='img/favicon.png')
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- Facebook Open Graph
    meta(property='og:image' content='img/og-back-way.jpg')
    meta(property='og:title' content='Электровлада блогосайт')
    meta(name='description' content='Влада блогосайт')
    
  body
    block content

  footer.footer
    div.footer__produced
      a(href="https://web.facebook.com/profile.php?id=100001634533512"
            title="facebook") Ермолин Владислав
      span , 2017-2019.
    div.footer__mail Email: 
      a(href="mailto:electrovladyslav@gmail.com") electrovladyslav@gmail.com.
      