@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Semibold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-LightItalic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-SemiboldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 29px;
  line-height: 52px;
  background-color: #fff;
}
@media (min-width: 1180px) {
  body {
    font-size: 18px;
    line-height: 32px;
  }
}
a,
a:active,
a:hover,
a:visited {
  color: inherit;
}
body,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
.btn,
button,
button:active,
button:hover {
  margin: 0;
  text-decoration: none;
  background-color: inherit;
}
button,
button:active,
button:hover {
  padding: 0;
  border: none;
  outline: none;
}
.btn,
input,
input:active,
input:hover,
select,
select:active,
select:hover {
  outline: none;
}
.hidden {
  display: none;
}
.crossed {
  text-decoration: line-through;
}
@media (min-width: 1180px) {
  .mobile-only {
    display: none;
  }
}
.btn {
  display: inline-block;
  padding: 30px 90px;
  border: 1px solid #000;
}
.btn:hover {
  background: #000;
  color: #fff;
  opacity: 0.8;
}
.btn:active {
  opacity: 1;
}
@media (min-width: 1180px) {
  .btn {
    padding: 15px 48px;
  }
}
.page-wrapper {
  position: relative;
  min-width: 750px;
  margin: 0 auto;
}
@media (min-width: 1180px) {
  .page-wrapper {
    min-width: 1280px;
  }
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.intro {
  margin: 100px 40px 50px;
  text-align: center;
}
.intro__header {
  margin-bottom: 80px;
  font-size: 90px;
  line-height: 92px;
  color: #4d5c66;
}
.intro__text-paragraph:not(:last-child) {
  margin-bottom: 45px;
}
.intro__text {
  font-size: 29px;
  line-height: 52px;
  color: #323d43;
}
@media (min-width: 1180px) {
  .intro {
    margin-left: 250px;
    margin-right: 250px;
  }
  .intro__header {
    margin-bottom: 50px;
    font-size: 44px;
    line-height: 60px;
  }
  .intro__text {
    font-size: 18px;
    line-height: 32px;
  }
}
.promo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 394px;
  background-image: url(../img/promo_bg_mobile_index.jpg);
  background-color: #4a6288;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.promo.promo--blog-fixiks {
  min-height: 512px;
  background-image: url(../img/blog_fixiks_promo_mobile.jpg);
}
.promo.promo--blog-miami {
  min-height: 512px;
  background-image: url(../img/blog_miami_promo_mobile.jpg);
  background-position-y: 100%;
}
.promo__header {
  text-align: center;
  font-size: 95px;
  line-height: 140px;
  font-weight: 200;
  color: #fff;
}
@media (min-width: 1180px) {
  .promo {
    min-height: 675px;
    background-image: url(../img/promo_bg_tablet_index.jpg);
  }
  .promo.promo--blog-fixiks {
    min-height: 720px;
    background-image: url(../img/blog_fixiks_promo_desktop.jpg);
  }
  .promo.promo--blog-miami {
    min-height: 720px;
    background-image: url(../img/blog_miami_promo_desktop.jpg);
  }
  .promo__header {
    font-size: 80px;
    line-height: 60px;
  }
}
.map {
  min-height: 350px;
  background-color: #060847;
}
.map__definition {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 40px;
  font-size: 29px;
  line-height: 52px;
  color: #323d43;
}
.map__definition-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 92px;
  color: #4d5c66;
}
.map__popup-pic {
  width: 499px;
  height: 269px;
}
.map__definition-term {
  text-align: left;
  font-weight: 700;
}
.map__definition-descr {
  text-align: left;
  padding-left: 50px;
}
.map__definition-term {
  color: #8ca3aa;
}
.map__definition-term--red {
  color: #d41c1f;
}
@media (min-width: 1180px) {
  .map__definition {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 18px;
    line-height: 32px;
  }
  .map__definition-header {
    font-size: 36px;
    line-height: 50px;
  }
  .map__popup-pic {
    width: 230px;
    height: 265px;
  }
  .map__popup-definition {
    width: 55%;
    margin-right: auto;
  }
}
.schedule {
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
.schedule__header {
  margin-bottom: 100px;
  font-size: 90px;
  line-height: 92px;
  color: #4d5c66;
}
.schedule__post {
  margin: 0 auto;
  background-color: #f9f9f9;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}
.schedule__img {
  display: block;
  width: 563px;
  margin: 40px auto;
  height: 232px;
}
.schedule__text {
  margin: 60px 95px 80px 75px;
  font-size: 29px;
  line-height: 52px;
  color: #323d43;
}
@media (min-width: 1180px) {
  .schedule {
    margin-left: 250px;
    margin-right: 250px;
  }
  .schedule__header {
    font-size: 44px;
    line-height: 60px;
  }
  .schedule__text {
    font-size: 18px;
    line-height: 32px;
  }
}
.blogposts-container {
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  color: #003;
}
.blogposts-container__header {
  font-size: 90px;
  line-height: 92px;
  text-align: center;
}
@media (min-width: 1180px) {
  .blogposts-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .blogposts-container__header {
    font-size: 44px;
    line-height: 60px;
  }
}
.blogpost-preview {
  margin: 105px auto 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 680px;
  height: auto;
  background-color: #f9f9f9;
}
.blogpost-preview__picture {
  display: block;
  width: 680px;
  height: 680px;
  overflow: hidden;
}
.blogpost-preview__img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.blogpost-preview__img:hover {
  transform: scale(1.1);
}
.blogpost-preview__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 20px 75px 80px;
}
.blogpost-preview__date {
  font-size: 28px;
  line-height: 92px;
  text-transform: uppercase;
}
.blogpost-preview__header {
  font-size: 45px;
  line-height: 45px;
  text-align: left;
}
.blogpost-preview__more,
.blogpost-preview__text {
  margin-top: 55px;
  font-size: 29px;
  line-height: 47px;
}
.blogpost-preview__more {
  margin-top: 100px;
}
@media (min-width: 1180px) {
  .blogpost-preview {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 780px;
    margin-top: 55px;
  }
  .blogpost-preview__picture {
    height: 390px;
    width: 390px;
  }
  .blogpost-preview__img {
    width: auto;
    height: 390px;
  }
  .blogpost-preview__body {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 20px 35px 20px 40px;
    background-color: #f9f9f9;
  }
  .blogpost-preview__date {
    font-size: 13px;
    line-height: 60px;
    text-transform: uppercase;
  }
  .blogpost-preview__header {
    font-size: 30px;
    line-height: 30px;
  }
  .blogpost-preview__text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 25px;
  }
  .blogpost-preview__more {
    margin-top: auto;
    font-size: 14px;
    line-height: 32px;
  }
}
.blogpost {
  margin: 100px 40px;
}
.blogpost__header {
  font-size: 56px;
  line-height: 95px;
  font-weight: 700;
  text-align: left;
}
.blogpost__date {
  margin-top: 15px;
  font-size: 27px;
  line-height: 61px;
  font-weight: 200;
  color: #c90;
}
.blogpost__text {
  margin-top: 40px;
  font-size: 30px;
  line-height: 47px;
  font-weight: 400;
  color: #003;
}
.blogpost__img {
  display: block;
  margin: 40px auto;
}
.blogpost__img--dedus {
  width: 465px;
  height: 260px;
}
.blogpost__img--dedus-2 {
  width: 203px;
  height: 248px;
}
.blogpost__img--papus {
  width: 369px;
  height: 481px;
}
.blogpost__img--stuff {
  width: 480px;
  height: 270px;
}
.blogpost__img--end {
  width: 482px;
  height: 227px;
}
.blogpost__home-btn {
  display: block;
  max-width: 450px;
  margin: 50px auto 0;
  text-align: center;
}
@media (min-width: 1180px) {
  .blogpost {
    margin-left: 250px;
    margin-right: 250px;
  }
  .blogpost__date,
  .blogpost__header {
    font-size: 30px;
    line-height: 66px;
  }
  .blogpost__date {
    margin-top: 15px;
    font-size: 15px;
  }
  .blogpost__text {
    margin-top: 25px;
    font-size: 16px;
    line-height: 25px;
  }
}
.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 48px;
  background: #eee;
  color: #323d43;
}
.footer__produced {
  margin-bottom: 10px;
}
@media (min-width: 1180px) {
  .footer {
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 16px;
    line-height: 34px;
    padding-left: 250px;
    padding-right: 250px;
  }
  .footer__produced {
    text-align: right;
  }
}
